# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

main-1.20.1
/.trae/documents/效果实现差异对比计划.md
/.trae/documents/更多药水效果实测.docx
/.trae/specs/api_diff_analysis/spec.md
/.vscode/settings.json
/.vscode/launch.json
/.trae/documents/effect_migration_plan.md
