# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

main-1.20.1
/.trae/documents
/.trae/specs/api_diff_analysis/spec.md
/.vscode/settings.json
/.vscode/launch.json
/net/minecraft
/net/neoforged
/src/java-1.20.1/
